aside{
    display:none;
  }
  
  header{
    background-color:#A9A9A9;
  }
  
  h1{
    text-align:center;
    color:#FFFFFF;
  }
  
  h2{
    color:#00008B;
  }
  
  a{
    background-color:#D3D3D3;
    color:#000000;
    }
  section{
    background-color:#696969;
  }